body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

nav {
  background-color: #fff;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: 0 20px;
}

nav li a {
  text-decoration: none;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

nav li a:hover {
  background-color: #f1f1f1;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .banner {
  width: 100%;
  height: 60vh;
  background-image: url('../assets/img/scène.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

main .banner::before {
  content: "";
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

main .banner div {
  position: relative;
  z-index: 1;
  color: #fff;
  width: 65vw;
  margin: 15vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .banner div h1 {
  font-size: 36px;
  text-align: center;
  margin: 0;
  padding: 0;
}

main .banner div p {
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-style: italic;
  margin-top: 1rem;
}

main .banner div a {
  padding: 1em 2em;
  background-color: #f9c330;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 2rem;
}

main .banner div a:hover {
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, .4);
}

main .main-content {
  width: 80vw;
  margin: 1rem auto;
  font-size: 16px;
  line-height: 1.5;
}

main .main-content div#cta {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 50px auto;
}

main .main-content div#cta .title {
  width: 30%;
}

main .main-content div#cta .title p span {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: #f9c330;
}

main .main-content div#cta .title p {
  line-height: normal;
  margin: 0;
  width: 100%;
}

main .main-content div#cta form {
  background-color: #042443;
  color: #fff;
  padding: 2rem;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  width: 50%;
  font-size: 20px;
  gap: 15px;
}

main .main-content div#cta form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

main .main-content div#cta form div .civil-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

main .main-content div#cta form div .civil-input input{
  margin: 3px 15px 0 5px;
}

main .main-content div#cta form div .civil-input input:checked{
  accent-color: #f9c330;
}

main .main-content div#cta form div input {
  width: 50%;
  border: none;
  padding: 5px;
}

main .main-content div#cta form  button {
  width: 80%;
  padding: 10px 0; 
  margin: 50px 0 0;
  font-size: 20px;
  border: none;
  background-color: #f9c330;
  font-weight: bold;
  color: #fff;
}

main .main-content div#cta form  button:hover {
  cursor: pointer;
  box-shadow: inset 0 0px 20px rgba(0, 0, 0, .4);
}